
span {
  color: #ffffff;
}

.nav-item {
  color: #efefef;
}

a {
  color: #efefef;
  margin-left: 3em;
}

a.active {
  border-bottom: 3px solid gold;
}

@media(max-width:768px){.clearfix-xs:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
}

.dropdown-item {
  text-align: left !important;
  color: #000000 !important;
}
