<nav class="navbar navbar-expand-sm navbar-primary bg-primary">
  <div class="container">
    <span class="navbar-brand">My Chat App</span>
    <div class="page-links">
      <ul class="navbar-nav">
        <li role="nav-item">
          <a routerLink="/admin"  routerLinkActive="active" class=" nav-link">Admin</a>
        </li>
        <li class="nav-item">
          <a routerLink="/chat" routerLinkActive="active" class="nav-link" >Chat</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link" (click)="logOut()" >Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
