<app-navbar></app-navbar>
<div style="text-align:center">
  <h2>User Management</h2>
  <br>
  <div class="container">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4">
          <label for="name" class="col-lg-12 text-right">User Name:</label>
        </div>
        <div class="col-lg-8">
          <input type="text" name="name" [(ngModel)]="name" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4">
          <label for="email" class="col-lg-12 text-right">Email:</label>
        </div>
        <div class="col-lg-8">
          <input type="email" name="email" [(ngModel)]="email" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-4">
          <label for="role" class="col-lg-12 text-right">Role:</label>
        </div>
        <div class="col-lg-8">
          <input type="text" name="role" [(ngModel)]="role" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-12">
        <button (click)="createUser(name, email, role)" class="btn btn-primary btn-sm">Create New User</button>
      </div>
    </div>
  </div>


  <div class="container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>
          {{user.id}}
        </td>
        <td>
          <input type="text" name="user-name" [(ngModel)]="user.name" class="form-control-plaintext">
        </td>
        <td>
          <input type="email" name="user-email" [(ngModel)]="user.email" class="form-control-plaintext">
        </td>
        <td>
          <input type="text" name="user-role" [(ngModel)]="user.role" class="form-control-plaintext">
        </td>
        <td>
          <div class="btn-group">
            <button id="btnEdit" (click)="updateUser(user)" class="btn btn-success btn-sm">Update</button>
            <button id="btnDelete" (click)="deleteUser(user)" class="btn btn-danger btn-sm">Delete</button>
          </div>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
