<app-navbar></app-navbar>
<div style="text-align:center" class="container">
  <h2>User</h2>
  <h3>User List Management</h3>
  <br>
  <div class="row">
    <div class="col-3">
      <form id="userForm" [formGroup]="userForm" class="row" (ngSubmit)="createUser()" >
        <div class="form-group">
          <div class="text-left">
            <label for="name">User Name:</label>
          </div>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter user name"
              formControlName="name"
              required
              [ngClass]="{ 'is-invalid': submitted && userForm.controls.name.errors }"/>
            <div *ngIf="submitted && !!userForm.controls.name.errors" class="invalid-feedback">
              <div *ngIf="!!userForm.controls.name.errors.required">
                User Name is required
              </div>
            </div>
          </div>

        <div>
          <div class="form-group">
            <div class="text-left">
              <label for="email">Email:</label>
            </div>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email"
              formControlName="email"
              required
              [ngClass]="{ 'is-invalid': submitted && userForm.controls.email.errors }"/>
            <div *ngIf="submitted && !!userForm.controls.email.errors" class="invalid-feedback">
              <div *ngIf="!!userForm.controls.email.errors.required">
                Email is required
              </div>
              <div *ngIf="!!userForm.controls.email.errors.email">
                Not email format
              </div>
            </div>
            <br>
            <div class="text-left">
              <label for="role">Role:</label>
            </div>
            <select
              class="form-control"
              id="role"
              name="role"
              placeholder="Enter role"
              formControlName="role">
              <option *ngFor="let role of roles" [value]="role">{{role}}</option>
            </select>
          </div>
          <button class="btn btn-primary btn-sm">Create New User</button>
        </div>
      </form>
    </div>

    <div class="col-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <!--<th>User ID</th>-->
            <th>User Name</th>
            <th>User Email</th>
            <th>user Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <!--<td>-->
              <!--{{user.id}}-->
            <!--</td>-->
            <td>
              <input type="text" name="user-name" [(ngModel)]="user.name" class="form-control-plaintext">
            </td>
            <td>
              <input type="email" name="user-email" [(ngModel)]="user.email" class="form-control-plaintext">
            </td>
            <td>
              <input type="text" name="user-role" [(ngModel)]="user.role" class="form-control-plaintext">
            </td>
            <td>
              <div class="btn-group">
                <button id="btnEdit" (click)="updateUser(user)" class="btn btn-success btn-sm">Update</button>
                <button id="btnDelete" (click)="deleteUser(user)" class="btn btn-danger btn-sm">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
