<app-navbar></app-navbar>
<div style="text-align:center" class="container">
  <h2>Channel Management</h2>
  <br>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <div>
          <div class="text-left">
            <label for="name">Channel Name:</label>
          </div>
          <div>
            <input type="text" name="name" [(ngModel)]="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <button (click)="createChannel(name)" class="btn btn-primary btn-sm">Create New Channel</button>
        </div>
      </div>
    </div>

    <div class="col-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Channel ID</th>
            <th>Channel Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let channel of channels">
            <td>
              {{channel.id}}
            </td>
            <td>
              <input type="text" name="user-name" [(ngModel)]="channel.name" class="form-control-plaintext">
            </td>
            <td>
              <div class="btn-group">
                <button id="btnEdit" (click)="updateChannel(channel)" class="btn btn-success btn-sm">Update</button>
                <button id="btnDelete" (click)="deleteChannel(channel)" class="btn btn-danger btn-sm">Delete</button>
                <button id="btnSelect" (click)="selectChannel(channel)" class="btn btn-warning btn-sm">Manage</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
