<app-navbar></app-navbar>
<div class="container-wrapper d-flex justify-content-center align-items-center">
  <div class="form-wrapper text-center">
    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onlogin()">
      <div class="form-group">
        <label for="name" class="name">User Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter User Name"
          formControlName="name"
          required
          [ngClass]="{ 'is-invalid': submitted && loginForm.controls.name.errors }"/>
        <div *ngIf="submitted && !!loginForm.controls.name.errors" class="invalid-feedback">
          <div *ngIf="!!loginForm.controls.name.errors.required">
            User Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
          formControlName="email"
          required
          [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }"/>
        <div *ngIf="submitted && !!loginForm.controls.email.errors" class="invalid-feedback">
          <div *ngIf="!!loginForm.controls.email.errors.required">
            Email is required
          </div>
          <div *ngIf="!!loginForm.controls.email.errors.email">
            Not email format
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
