.message-wrapper {
  overflow-y: scroll;
}

.select-room {
  width: 50%;
  height: 15%;
  padding-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.new-message-wrapper .input-group {
  align-self: flex-end;
}

.new-message-wrapper .input-group .form-control {
  border-radius: 0;
  border: 0;
  background-color: #efefef;
}

.new-message-wrapper .input-group .form-control:focus {
  outline: 0;
  box-shadow: none;
}

