<div class="h-100 d-flex flex-column chat-window">
  <h5>Welcome <span style='color: #4285f4'> {{ username }} </span> to Channel: <span style='color: #4285f4'> {{channel?.name}}</span></h5>
  <ng-container>
    <div class="message-wrapper h-100">
      <ng-container *ngFor="let message of messages">
        <div class="chat-message d-flex">
          <div class="message">
            {{message?.text}}
          </div>
        </div>
      </ng-container>
    </div>

    <div class="new-message-wrapper d-flex">
      <div class="input-group">
        <input [(ngModel)]="message" type="text" class="form-control" placeholder="Enter a new message" >
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
