
#btnDelete, #btnEdit {
  display: inline-block;
  vertical-align: top;
}

#btnEdit {
  margin-left: 20px;
}

table td {
  vertical-align: middle;
  padding: 5px;
  position: relative;
}

th {
  white-space: nowrap;
}
