<app-navbar></app-navbar>
<div style="text-align:center" class="container">
  <h2>Group Management</h2>
  <br>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <div>
          <div class="text-left">
            <label for="name">Group Name:</label>
          </div>
          <div>
            <input type="text" name="name" [(ngModel)]="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <button (click)="createGroup(name)" class="btn btn-primary btn-sm">Create New Group</button>
        </div>
      </div>
    </div>

    <div class="col-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Group ID</th>
            <th>Group Name</th>
            <th>Channels</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of groups">
            <td>
              {{group.id}}
            </td>
            <td>
              <input type="text" name="user-name" [(ngModel)]="group.name" class="form-control-plaintext">
            </td>
            <td>
              <ng-container *ngFor="let item of group.channel">
                {{item.name}}<br>
              </ng-container>
            </td>
            <td>
              <div class="btn-group">
                <button id="btnEdit" (click)="updateGroup(group)" class="btn btn-success btn-sm">Update</button>
                <button id="btnDelete" (click)="deleteGroup(group)" class="btn btn-danger btn-sm">Delete</button>
                <a routerLink="/groupdetail/{{group.id}}"><button id="btnSelect" class="btn btn-warning">Manage</button></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
