<app-navbar></app-navbar>
<div style="text-align:center" class="container">
  <h2>Group</h2>
  <h3>Group List Management</h3>
  <br>
  <div class="row">
    <div class="col-3">
      <form id="groupForm" [formGroup]="groupForm" (ngSubmit)="createGroup()" >
        <div class="form-group">
          <div class="text-left">
            <label for="name">Group Name:</label>
          </div>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter group name"
            formControlName="name"
            required
            [ngClass]="{ 'is-invalid': submitted && groupForm.controls.name.errors }"/>
          <div *ngIf="submitted && !!groupForm.controls.name.errors" class="invalid-feedback">
            <div *ngIf="!!groupForm.controls.name.errors.required">
              Group Name is required
            </div>
          </div>
          <br>
          <button class="btn btn-primary btn-sm">Create New Group</button>
        </div>
      </form>
    </div>

    <div class="col-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Group Name</th>
            <th>Group Channels</th>
            <th>Group Users</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of groups">
            <td>
              <input type="text" name="user-name" [(ngModel)]="group.name" class="form-control-plaintext">
            </td>
            <td>
              <ng-container *ngFor="let c of group.channel">
                {{c.name}}<br>
              </ng-container>
            </td>
            <td>
              <ng-container *ngFor="let u of group.user">
                {{u.name}}<br>
              </ng-container>
            </td>
            <td>
              <div class="btn-group">
                <button id="btnEdit" (click)="updateGroup(group)" class="btn btn-success btn-sm">Update</button>
                <button id="btnDelete" (click)="deleteGroup(group)" class="btn btn-danger btn-sm">Delete</button>
                <a routerLink="/groupuser/{{group.id}}"><button id="btnSelectUser" class="btn btn-info">User</button></a>
                <a routerLink="/groupchannel/{{group.id}}"><button id="btnSelectChannel" class="btn btn-warning">Channel</button></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
