
#btnDelete, #btnEdit, #btnSelectUser, #btnSelectChannel {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}

#btnEdit {
  margin-left: 20px;
}

table td {
  vertical-align: middle;
  position: relative;
}

th, td {
  white-space: nowrap;
}
